# Игнорировать виртуальное окружение
.venv/
/instance/database.db
# Игнорировать Terraform файлы и каталоги
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Игнорировать временные файлы
__pycache__/
*.pyc
.env
*.log
