<div class="container">
    <h1>Тест: {{ lesson_title }}</h1>
        <form method="POST">
        {% for question in questions %}
        <div class="mb-4">
            <p><strong>{{ loop.index }}. {{ question.question }}</strong></p> <!-- Используйте loop.index -->
            <ul>
                {% for option in question.options %}
                <li>
                    <input type="radio" id="q{{ loop.index }}_{{ loop.index0 }}" name="question-{{ loop.index0 }}" value="{{ option }}">
                    <label for="q{{ loop.index }}_{{ loop.index0 }}">{{ option }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Отправить ответы</button>
    </form>
</div>

<!--1-->